@page "/settings"
@using BlazorChat.Client.ViewModels
@using System.Security.Claims
@inject ISettingsViewModel SettingsViewModel
@inject NavigationManager NavigationManager

<h2><b>Settings</b></h2>
<hr/>

<div class="col-12">
    <div class="row">
        <RadzenSwitch @bind-value="@SettingsViewModel.Notifications" Style="margin-bottom: 20px;"/>
        <label class="col-3"> Notification </label>
    </div>
    <div class="row">
        <RadzenSwitch @bind-value="@SettingsViewModel.DarkTheme" Style="margin-bottom: 20px;" />
        <label class="col-3"> Dark Theme </label>
    </div>
    <div class="row">
        <button class="btn btn-primary col-1" @onclick="SettingsViewModel.Save">Save</button>
    </div>
</div>

@code{

    [CascadingParameter]
    public Task<AuthenticationState> AuthenticationState { get; set; }

    protected override async Task OnInitializedAsync()
    {
        var authState = await AuthenticationState;
        var user = authState.User;

        if (user.Identity.IsAuthenticated)
        {
            var claim = user.FindFirst(c => c.Type == ClaimTypes.NameIdentifier);
            SettingsViewModel.UserId = Convert.ToInt64(claim?.Value);
            await SettingsViewModel.GetProfile();
        }
        else
        {
            NavigationManager.NavigateTo("/");
        }

    }

}