@page "/settings"
@using BlazorChat.Client.ViewModels
@inject ISettingsViewModel SettingsViewModel

<h2><b>Settings</b></h2>
<hr/>

<div class="col-12">
    <div class="row">
        <RadzenSwitch @bind-value="@SettingsViewModel.Notifications" Style="margin-bottom: 20px;"/>
        <label class="col-3"> Notification </label>
    </div>
    <div class="row">
        <RadzenSwitch @bind-value="@SettingsViewModel.DarkTheme" Style="margin-bottom: 20px;" />
        <label class="col-3"> Dark Theme </label>
    </div>
    <div class="row">
        <button class="btn btn-primary col-1" @onclick="SettingsViewModel.Save">Save</button>
    </div>
</div>

@code{
    protected override async Task OnInitializedAsync() => await SettingsViewModel.GetProfile();
}