@using Blazored.Toast.Configuration
@using BlazorChat.Shared.Models
@using Blazored.LocalStorage
@inherits LayoutComponentBase
@inject HttpClient HttpClient
@inject NavigationManager NavigationManager
@inject IJSRuntime JsRuntime
@inject ILocalStorageService LocalStorageService

<div class="page">
    <div class="sidebar">
        <AuthorizeView>
            <Authorized>
                <NavMenu/>
            </Authorized>
        </AuthorizeView>
    </div>
    
    <BlazoredToasts Position="ToastPosition.BottomRight"
                    Timeout="3"
                    IconType="IconType.FontAwesome"
                    SuccessClass="success-toast-override"
                    SuccessIcon="fa fa-thumbs-up"
                    ErrorIcon="fa fa-bug"/>

    <div class="main">
        <AuthorizeView>
            <Authorized>
                <div class="top-row px-4">
                    <h4><b>Hello, @context.User.Identity?.Name</b></h4> &nbsp;
                    <button class="btn btn-danger" @onclick="LogoutUser">Logout</button>
                </div>
            </Authorized>
        </AuthorizeView>
        <article class="content px-4">
            @Body
        </article>
    </div>
</div>

@code{

    protected override async Task OnInitializedAsync()
    {
        var currentUser = await HttpClient.GetFromJsonAsync<User>("User/getcurrentuser");
        if (currentUser != null && currentUser.UserId != 0)
        {
            var themeName = currentUser.DarkTheme == 1 ? "dark" : "light";

            var module = await JsRuntime.InvokeAsync<IJSObjectReference>("import", "./js/site.js");
            await module.InvokeVoidAsync("setTheme", themeName);
        }
        await base.OnInitializedAsync();
    }

    private async Task LogoutUser()
    {
        await LocalStorageService.RemoveItemAsync("jwt_token");
        NavigationManager.NavigateTo("/", true);
    }
}