@using Blazored.Toast.Configuration
@inherits LayoutComponentBase
@inject HttpClient HttpClient
@inject NavigationManager NavigationManager

<BlazoredToasts Position="ToastPosition.BottomRight"
                Timeout="10"
                IconType="IconType.FontAwesome"
                SuccessClass="success-toast-override"
                SuccessIcon="fa fa-thumbs-up"
                ErrorIcon="fa fa-bug"/>

<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <main>
        <AuthorizeView>
            <Authorized>
                <div class="top-row px-4">
                    <h4><b>Hello, @context.User.Identity?.Name</b></h4> &nbsp;
                    <button class="btn btn-danger" @onclick="LogoutUser">Logout</button>
                </div>
            </Authorized>
            <NotAuthorized>
                <div class="top-row px-4">
                    <button class="btn btn-primary" @onclick="LoginUser">Login</button>
                </div>
            </NotAuthorized>
        </AuthorizeView>
        <article class="content px-4">
            @Body
        </article>
    </main>
</div>

@code{
    private async Task LogoutUser()
    {
        await HttpClient.GetAsync("user/logoutuser");
        NavigationManager.NavigateTo("/", true);
    }

    private void LoginUser()
    {
        NavigationManager.NavigateTo("/", true);
    }
}
